[submodule "third_party/swift"]
	path = third_party/swift
	url = https://github.com/openstack/swift.git
	# Latest stable/supported version
	branch = stable/queens
[submodule "third_party/oio-sds"]
	path = third_party/oio-sds
	url = https://github.com/open-io/oio-sds.git
	# Latest stable/supported version
	branch = 4.x
